<h1>Login to your account</h1>

<%= form_for :user, url: '/users/login' do |f| %>

  Name: <%= f.text_field :name %><br>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Continue" %>

<% end %>