<h1>Create account</h1>


<%= form_for :user, url: register_users_path do |f| %>
  First Name: <%= f.text_field :first_name, class: "form-group" %><br>
  Last Name: <%= f.text_field :last_name, class: "form-group" %><br>
  Email: <%= f.text_field :email, class: "form-group" %><br>
  Password: <%= f.password_field :password, class: "form-group" %><br>
  Password Confirmation: <%= f.password_field :password_confirmation, class: "form-group" %><br>
  <%= f.submit "Create your Jungle account", class: "btn btn-primary" %>

<% end %>